html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #263248;
    color: #fff;
}
a.white{
    color: #fff;
}
a.white:hover{
    color: #3e3d3d;
}
.navbar-default{
    background-color: #263248;
}
.navbar-default .navbar-brand{
    color: #fff;
}
.navbar-default .navbar-nav > .active > a{
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    color: #333;
    background-color: white;
}
.title-container .panel{
    opacity: .9;
}
.content .panel-body{
    color: #333;
}
.panel-heading h4, .panel-heading h3{
    margin: 0;
}
.panel-heading a{
    color: #fff;
}
.link-container{
    margin-top: 80px;
}
.collapsing .pull-right, .in .pull-right{
    float: left !important;
}
.collapsing .nav, .in .nav{
    width: 100%;
}
.navbar-nav{
    margin: 0;
}
.background-fixed{
    width: 100%;
    height: 100%;
    background: url(/pro/images/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    display: table;
    table-layout:fixed;
}
.wrapper {
    height: 100%;
    padding-top: 50px;
}
.background-fixed .panel{
    color: #333;
}
.alert-danger:empty{
    display: none;
}
.form-control{
    color: #333;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.flex-item{
    flex: 0 1 auto;
    max-width: 322px;
    margin-left: 10px;
    margin-right: 10px;
}
.alert{
    margin-bottom: 0;
}
.no-padding{
    padding: 0;
}
video::-webkit-media-controls-start-playback-button {
    display: none !important;
}
h1, .h1, h2, .h2, h3, .h3{
    margin-top: 10px;
}
.row-margin-bottom{
    margin-bottom: 400px;
}
.table{
    margin-bottom: 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle;
}
.panel-default > .panel-heading, .panel-info > .panel-heading{
    background-color: #263248;
    color: #fff;
}
.page-header {
    padding-bottom:0;
    margin: 20px;
    border-bottom: 0;
}
.unit-2{
    margin-top: 20px;
}
.operator-info{
    padding-top: 30px;
    padding-bottom: 30px;
}
.check{
    color: green;
}
.check:after{
    content: "\2714";
}
.cross{
    color: #cd0a0a;
}
.cross:after{
    content: "\2718";
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #6f6f6f;
}
.form-top-element, .form-top-element .btn{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}
.form-center-element{
    border-radius: 0;
    border-bottom: 0;
}

.form-bottom-element, .form-bottom-element button{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.unit{
    margin-top: 10px;
}
.list-group{
    margin-bottom: 0;
}
.btn-primary{
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.navbar-collapse{
    padding-left: 0;
    padding-right: 0;
}


/* Video Overlay */

#overlay {
    /*background-color:rgba(0,0,0,.65);*/
    height:100%;
    left:0;
    position:relative;
    top:0;
    transition:background-color 300ms ease;
    width:100%;
}

.fade { background-color:rgba(0,0,0,.85) !important; }


/* Hero Video + Fallback */

#hero-vid {
    backface-visibility:hidden;
    background:url("/pro/images/bg.png") no-repeat scroll 0 0 #000;
    background-size:cover;
    bottom:0;
    height:auto;
    min-height:100%;
    min-width:100%;
    perspective:1000;
    position:fixed;
    right:0;
    width:auto;
    z-index:-1000;
}

#hero-pic {
    display:block;
    height:auto;
    width:100%;
}

.content {
    background-color:#151515;
    padding: 60px 25%;
    position:relative;
    z-index:1;
}
@media only screen and (max-width:479px) {
    .content{
        padding: 20px 10px;
    }
}

.content p {
    font-size:1.25em;
    letter-spacing:.02em;
    margin-bottom:1.3em;
}
.parallax-window {
    min-height: 700px;
    background: transparent;
}
.teaser {
    position: relative;
    left: 0px;
    height: 600px;
    width: 950px;
    display: inline-block;
    overflow: hidden;
}
.mobile {
    background-image: url(/pro/images/iphone-optimised.png);
    position: absolute;
    width: 95px;
    height: 196px;
    top: 375px;
    left: 180px;
    z-index: 5;
}
.tablet {
    background-image: url(/pro/images/ipad-optimised.png);
    width: 246px;
    height: 330px;
    z-index: 3;
    position: absolute;
    left: 0px;
    top: 230px;
    background-repeat: no-repeat;
}
.laptop {
    background-image: url(/pro/images/laptop-screen-optimised.png);
    width: 477px;
    height: 307px;
    top: 264px;
    left: 440px;
    position: absolute;
    z-index: 2;
}
.desktop {
    position: absolute;
    width: 566px;
    height: 538px;
    background-image: url(/pro/images/large-screen-optimised.png);
    top: 0px;
    left: 100px;
    z-index: 1;
}
.desktop .top {
    position: relative;
    pointer-events:none;
    left: 27px;
    top: 37px;
    width: 1606px;
    height: 1000px;
    transform: scale(0.3181);
    -webkit-transform: scale(0.3181);
    -o-transform: scale(0.3181);
    -ms-transform: scale(0.3181);
    -moz-transform: scale(0.3181);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
    overflow-y:hidden;
}
.laptop .top {
    position: relative;
    pointer-events:none;
    width: 1293px;
    height: 810px;
    top: 25px;
    left: 59px;
    transform: scale(0.277);
    -webkit-transform: scale(0.277);
    -o-transform: scale(0.277);
    -ms-transform: scale(0.277);
    -moz-transform: scale(0.277);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
    overflow-y:hidden;
}
.tablet .top {
    position: relative;
    pointer-events:none;
    transform: scale(0.219);
    -webkit-transform: scale(0.219);
    -o-transform: scale(0.219);
    -ms-transform: scale(0.219);
    -moz-transform: scale(0.219);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
    width: 808px;
    height: 1100px;
    top: 35px;
    left: 40px;
    overflow-y: hidden;
}
.mobile .top {
    position: relative;
    pointer-events:none;
    transform: scale(0.219);
    -webkit-transform: scale(0.219);
    -o-transform: scale(0.219);
    -ms-transform: scale(0.219);
    -moz-transform: scale(0.219);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
    width: 331px;
    height: 492px;
    top: 31px;
    left: 10px;
    overflow-y: hidden;
}
iframe {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #fff;
    border: 0;
    width: 100%;
    height: 100%;
}

/* Media Queries */

@media only screen and (max-width:768px) {
    #overlay { height:auto; }
}


/* Visibility Helpers */

@media only screen and (min-width:769px) {
    .visible-mobile,.visible-tablet,.hidden-desktop { 
        display:none !important; 
    }
}

@media only screen and (min-width:480px) and (max-width:768px) {
    .visible-mobile,.hidden-tablet,.visible-desktop { 
        display:none !important; 
    }
}

@media only screen and (max-width:479px) {
    .hidden-mobile,.visible-tablet,.visible-desktop { 
        display:none !important; 
    }
}
.content-teaser{
        padding: 50px 10px;
    }
@media only screen and (max-width:934px) {
    .teaser{
        width: 100%;
        height: 100%;
    }
    .mobile, .laptop, .desktop, .tablet{
        position: static;
        margin: 0 auto;
    }
    
}