html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: absolute;
  width: 100%;
  margin-top: -50px;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: fixed;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.title-container {
  z-index: 1000;
  position: relative;
  top: 50px;
  width: 100%;
  text-align: center;
}
.description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}
.navbar-default{
    background-color: #A7193A;
}
.navbar-default .navbar-brand{
    color: #fff;
}
.navbar-default .navbar-nav > .active > a{
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    color: #333;
    background-color: white;
}
.title-container .panel{
    opacity: .9;
}
.content .panel-body{
    color: #333;
}
.panel-heading h4, .panel-heading h3{
    margin: 0;
}
.panel-heading a{
    color: #fff;
}
.link-container{
    margin-top: 80px;
}
.collapsing .pull-right, .in .pull-right{
    float: left !important;
}
.collapsing .nav, .in .nav{
    width: 100%;
}
.navbar-nav{
    margin: 0;
}
.background-fixed{
    width: 100%;
    height: 100%;
    background: url(/pro/images/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    display: table;
    table-layout:fixed;
}
.wrapper {
    display: table-row;
    height: 100%;
    padding-top: 50px;
}
.background-fixed .panel{
    color: #333;
}
.alert-danger:empty{
    display: none;
}
.form-control{
    color: #333;
}
.flex-container{
   display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.flex-item{
    flex: 0 1 auto;
    width: 100%;
    max-width: 322px;
    margin-left: 10px;
    margin-right: 10px;
}
.alert{
    margin-bottom: 0;
}
.no-padding{
    padding: 0;
}
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}
h1, .h1, h2, .h2, h3, .h3{
    margin-top: 10px;
}
.row-margin-bottom{
    margin-bottom: 400px;
}
.table{
    margin-bottom: 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle;
}
.panel-default > .panel-heading, .panel-info > .panel-heading{
    background-color: #A7193A;
    color: #fff;
}
.page-header {
    padding-bottom:0;
    margin: 20px;
    border-bottom: 0;
}
.unit-2{
    margin-top: 20px;
}
.operator-info{
    padding-top: 30px;
    padding-bottom: 30px;
}
.check{
    color: green;
}
.check:after{
    content: "\2714";
}
.cross{
    color: #cd0a0a;
}
.cross:after{
    content: "\2718";
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #6f6f6f;
}
.form-top-element, .form-top-element .btn{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}
.form-center-element{
    border-radius: 0;
    border-bottom: 0;
}

.form-bottom-element, .form-bottom-element button{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.unit{
    margin-top: 10px;
}
.list-group{
    margin-bottom: 0;
}
.btn-primary{
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.navbar-collapse{
    padding-left: 0;
    padding-right: 0;
}