@import "mixins/gradients.less";
@import "mixins/vendor-prefixes.less";
@import "variables.less";

@font-face{
    font-family:'FontAwesome';
    src:url('/fonts/fontawesome-webfont.eot?v=4.2.0');
    src:url('/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
        url('/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),
        url('/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
        url('/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

.navbar-toggle{
    position:relative;
}
.menu-line{
    position: relative;
    display: block;
    height: 3px;
    background: white;
    width: 18px;
    margin-bottom: 3px;
    .transition(all .3s ease);
    /*.transition(translate3d(all, 0.2, ease));*/
    top: 0;
}
.menu-line-1{
    margin-top: 3px;
}
.active .menu-line-1{
    .rotate(-45deg);
    top: 6px;
}
.active .menu-line-2{
    opacity: 0;
}
.active .menu-line-3{
    .rotate(45deg);
    top: -6px;
}
html, body {
    height: 100%;
}
body {
    background-color: @bgColor; 
}
.background{
    background: url('/images/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.wrapper:before{
    display:block;
    height: 50px;
    content: ' ';
}
.wrapper {
    display: table-row;
    height: 100%;
}
.footer{
    display: table-row;
}
.footer-container{
    background-color: white;
    margin-top: 2*@spacing;
    margin-bottom: 2*@spacing;
    padding: 5px;
    border-radius: @border-radius-base;
    overflow: hidden;
    text-align: center;
}
textarea, input[type="text"], input[type="email"], input[type="submit"], input[type="password"], input[type="tel"], input[type="number"]{
    -webkit-appearance: none;
}
.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    @gray;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    @gray;
   opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    @gray;
   opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    @gray;
}
#site-canvas{
    width: 100%;
    height: 100%;
}
#site-canvas, #site-menu, #site-shadow, .footer {
    -webkit-backface-visibility: hidden; /* this fixes iOS7 flickering a.k.a menu disappearing */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.3s ease, right 0.3s ease;
    -moz-transition: transform 0.3s ease, right 0.3s ease;
    -ms-transition: transform 0.3s ease, right 0.3s ease; /* IE10 is actually unprefixed */
    -o-transition: transform 0.3s ease, right 0.3s ease;
    transition: transform 0.3s ease, right 0.3s ease;
}
.navbar-fixed-top{
    max-height: 50px;
}
.navbar-collapse.collapse{
    overflow-y: hidden !important;
    max-height: 50px;
}
.nav > li > a{
    padding: 15px 10px;
}
#site-menu {
    overflow-y: auto;
    width: 200px;
    height: 100%;
    position: fixed;
    right: -200px;
    padding: 0px 15px;
    background-color: @navBarColor2;
    #gradient > .vertical(@navBarColor2, @navBarColor);
}
#site-menu .nav{
    position: absolute;
    width: 100%;
    overflow-y: auto;
    padding-bottom: @navbar-height;
}
#site-menu .navbar-nav{
    margin: 0 -15px;
}
#site-menu .nav li{
    border-bottom: 1px solid @white-gray;
    float: none;
}
#site-shadow{
    width: 100%;
    position: fixed;
}
#site-shadow.show-nav{
    height: 100%;
    z-index: 4;
}
#site-canvas.show-nav,  #site-shadow.show-nav, #site-menu.show-nav, .footer.show-nav{
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
}
#site-menu a{
    color: white;
}
#site-menu a:hover{
    background: @primaryLinkHoverColor;
}
a:active, a:hover{
    color: @primaryColor;
}
/* end off canvas side menu */
.form-control, .form-control:focus{
    border-color: @gray;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type="checkbox"]{
    display: none;
}
label input[type="checkbox"]{
    display: inline-block;
} 
input[type="checkbox"] ~ label{
    font-weight: normal;
    font-family: FontAwesome,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
input[type="checkbox"] ~ label:before{
    content: "\f204";
    margin-right: 5px;
}
input[type="checkbox"]:checked ~ label:before{
    content: "\f205";
    margin-right: 5px;
}
.navbar-default, .panel-info > .panel-heading, .ui-widget-header{
    background-color: @navBarColor2;
    #gradient > .vertical(@navBarColor, @navBarColor2);
    opacity: .9;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{
    #gradient > .vertical(lighten(@primaryColor, 20%), lighten(@primaryColor, 10%));
    color: @white;
}
.panel-info{
    border-color: @white;
}
.panel-info > .panel-heading{
    color: @white-gray;
}
.panel-heading{
    border-bottom: 0;
    padding: 5px 10px;
}
#shadow{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}
.page-header{
    padding-bottom: 0;
    margin: 20px 0;
    border-bottom: 0px solid #afafaf;
    box-shadow: 0 0px 0 0px #fff;
}
hr{
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #fff;
}
a.list-group-item .list-group-item-heading{
    color: @primaryColor;
}
.list-group-item{
    background-color: @white;
}
.list-group-item-text{
    color: @primaryColor;
    font-size: 18px;
}
.list-group-item-vs{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 14px;
}

a.block{
    display: block;
}

table.table-scores tbody tr td{
    max-width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.table{
    margin-bottom: 0;
}

.badge-right{
    float: right;
    font-size: 14px;
}
.list-group-item-icon, .list-menu-item-icon{
    text-align: center;
}
    
.list-menu-item-icon{
    width: 18px;
    float: right;  
}
.list-group-item-icon{
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
}
.list-group-item-icon img{
    max-width: 100%;
    max-height: 100%;
}
.badge{
    color: @primaryColor;
    background-color: @gray;
}
.stretch{
    width: 100%;
    display: inline-block;
}
.form-control {
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}
.table-editgame tbody td, .table-editgame thead th{
    padding: 5px;
    word-wrap: break-word;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
    position: relative;
    margin-left: 0;
}
.navbar-icon{
    border: 0;
    border-radius: 4px;
    display:inline-block;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
}
.home-icon{
    margin-right: 15px;
}
.navbar-toggle .icon-bar{
    width: 15px;
}
.navbar-brand{
    padding: 5px 15px;
}
.navbar-header{
    position:relative;
}
.navbar-header a.navbar-brand{
    max-width: 280px;
    padding: 5px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 50px;
    max-height: 50px;
    white-space: nowrap;
}
.navbar-header a.navbar-toggle{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.navbar-default .navbar-brand{
    color: @white;
}
.navbar-default .navbar-brand:hover{
    color: @primaryLinkHoverColor;
}
a.navbar-icon{
    color: @white;
}
.navbar-icon a{
    color: white;
}
a.navbar-icon:active{
    color: @primaryLinkHoverColor;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: @white;
}
.navbar-default .navbar-toggle{
    border-color: @white;   
}
.navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a{
    color: @white;
}
.navbar-default .navbar-nav>li>a:hover{
    color: @primaryLinkHoverColor;
}
.table > tbody > tr > td,
.table > thead > tr > th {
  background-color: @white;
}
.table > thead > tr > th {
  border-bottom: 1px solid #999;
}
.table-responsive{
    overflow-x: auto;
    border: 0;
    margin-bottom: 0;
}

.note-editable .table-bordered{
    border: 1px solid gray;
}
.table-bordered{
    border: 0;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
    border: 0;
}

table.table-bordered tr:last-child td:first-child {
    border-bottom-left-radius:@border-radius-base;
}

table.table-bordered tr:last-child td:last-child {
    border-bottom-right-radius:@border-radius-base;
}

table.table-bordered tr th:first-child,
table.table-bordered tr td:first-child {
}

table.table-bordered tr:first-child th{
   border-bottom: 1px solid @gray;
}

table.table-bordered tr:first-child th:first-child{
    border-top-left-radius:@border-radius-base;
}

table.table-bordered tr:first-child th:last-child{
    border-top-right-radius:4px;
}
table thead th.delete, table tbody td.delete{
    width: 100px;
    max-width: 100px;
    text-align: center;
}
.list-item-text{
    font-size: 18px;
    font-weight: 500;  
    text-shadown: -1px -1px 0 rgba(255, 255, 255, 0.3);
    color: @primaryColor;
    display: table;
    width: 100%;
}
.list-item-text div{
    display: table-cell;
    vertical-align: middle;
}
.list-item-text .text{
    width: 99%;
}
.list-item-text .badge-container{
    line-height: 18px;
    text-align: right;
}

span.error{
    display: block;
    margin-bottom: 10px;
    color: @brand-danger;
}

.form-control{
    color: @primaryColor;
}

/* datepicker */
.datepicker-text-container{
    width: 100%;
    background: @white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid @gray;
    position: relative;
}
.datepicker-icon{
    float: right;
    display: inline;
    line-height: 20px;
}
.datepicker-label{
    position: absolute;
    right: 30px;
    color: @gray;
}
.ui-datepicker-prev .ui-icon, .ui-datepicker-next .ui-icon{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image: none;
    text-indent: 0;
}
.ui-datepicker-prev .ui-icon:before{
    content:"\f060";
}
.ui-datepicker-next .ui-icon:before{
    content:"\f061";
}
.ui-widget-content{
    border: 1px solid @gray;
    color: @primaryColor;
}
.ui-datepicker {
  width: 100%;
  padding: 0;
}
.ui-datepicker .ui-datepicker-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: 0;
  border-bottom: 1px solid @gray;
  border-right: 0;
  border-left: 0;
}

.ui-datepicker table {
  margin: 0;
  font-size: 16px;
  table-layout: fixed;
}
.ui-datepicker td {
  padding: 0;
}
.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
}
.ui-widget-content table tbody tr td .ui-state-default{
    border: 0;
}
.ui-widget-content table tbody tr:first-child td{
    border-top: 1px solid @borderColor;
}
.ui-widget-content table tbody tr td:not(:last-child){
    border-right: 1px solid @borderColor;
}
.ui-widget-content table tbody tr:not(:last-child) td{  
    border-bottom: 1px solid @borderColor;
}
.ui-widget-content table tbody tr td.ui-datepicker-unselectable{
    background: #fafafa;
}
.ui-widget-content table tbody tr:last-child td:first-child .ui-state-default{
    border-bottom-left-radius: @border-radius-base;
}
.ui-widget-content table tbody tr:last-child td:last-child, .ui-widget-content table tbody tr:last-child td:last-child .ui-state-default, .ui-widget-content table tbody tr:last-child td:last-child .ui-state-disabled{
    border-bottom-right-radius: @border-radius-base;
}
.ui-widget-content table tbody tr td .ui-state-highlight{
    border-color: @borderColor;
    background: @primaryLinkHoverColor;
}
.ui-widget-content table tbody tr td .ui-state-active{
    background: @selectedBgColor;
}
.ui-widget-content table tbody tr td.ui-state-disabled{
    opacity: 1;
}
.ui-widget-content table tbody tr td.ui-state-disabled .ui-state-default{
    background: #fafafa;
    color: @gray;
}
/* datepicker end */
/* form elements */
.form-top-element, .form-top-element .btn{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}
.form-center-element{
    border-radius: 0;
    border-bottom: 0;
}

.form-bottom-element, .form-bottom-element button{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.input-group .form-control:last-child.form-bottom-left-element{
    border-right: 0;
    border-bottom-left-radius: @border-radius-base;
}
.input-group .form-control:last-child.form-bottom-right-element{
    border-left: 0;
    border-bottom-right-radius: @border-radius-base;
}
.input-group .form-control:last-child.form-top-right-element{
    border-left: 0;
    border-top-right-radius: @border-radius-base;
    border-bottom: 0;
}
.input-group .form-control:last-child.form-top-left-element{
    border-right: 0;
    border-top-left-radius: @border-radius-base;
    border-bottom: 0;
}
/* form elements end*/
/* accordion */
.ui-icon{
    display: inline-block;
}
.accordion .ui-accordion-header{
    padding: 10px 5px;
    border-radius: 0;
}
.accordion .ui-accordion-content{
    padding: 20px;
}
.accordion .ui-accordion-header:not(:last-child){
    border-bottom: 0;
}
.accordion .ui-accordion-content:not(:last-child){
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}
.accordion .ui-accordion-header:first-child{
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
}
.accordion .ui-accordion-header:nth-last-child(2){
    border-bottom-left-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
}
.accordion .ui-state-active:nth-last-child(2){
    border-radius: 0;
}

.ui-state-default, ui-state-hover, .ui-state-active{
    font-weight: normal;
}
.accordion .ui-state-default{
    background: lighten(@primaryColor, 20%);
}
.accordion .ui-state-active{
    background: @primaryColor;
}

/* accordion end */
.alert{
    margin-bottom: 0;
}
.alert-danger{
    margin-bottom: 20px;
}
.alert:empty{
    word-break: break-all;
    display: none;
}

.unit{
    margin-top: @spacing;
}
.unit-2{
    margin-top: 2*@spacing;
}
.list-group{
    margin-bottom: 0;
}
.jumbotron{
    background-color: @white;
}
.booking-cell{
    padding-top: 11px;
    padding-bottom: 11px;
}
.table-fixed{
    table-layout: fixed;
}
.table.table-round > thead:first-child > tr:first-child > th{
    padding: 10px;
}
.table.table-booking{
    border-top: 1px solid @gray;
    border-left: 1px solid @gray;
}
.table.table-booking > tbody > tr > td{
    background: @white-gray;
}
.table.table-booking > tbody > tr > td,
.table.table-booking > thead:first-child > tr:first-child > th,
.table.table-round > tbody > tr > td,
.table.table-round > thead:first-child > tr:first-child > th{
    text-align: center;
    vertical-align: middle;
}
.table.table-booking > tbody > tr > td:not(:last-child),
.table.table-round > tbody > tr > td:not(:last-child){
    border-right: 1px solid @gray;
}
.table.table-booking > tbody > tr:not(:last-child) > td{
    border-bottom: 1px solid @gray;
}
.table.table-booking > thead:first-child > tr:first-child > th{
    border-bottom: 1px solid @gray;
}
.table.table-booking > thead:first-child > tr:first-child > th:not(:last-child){
    border-right: 1px solid @gray
}
table.table-booking > thead > tr > th{
    font-weight: normal;
}
table.table-booking > thead > tr > th, .table.table-booking > tbody > tr > td{
    padding: 0;
}
table.table-round {
    -moz-border-radius:@border-radius-large;
    -webkit-border-radius:@border-radius-large;
    border-radius: @border-radius-large;
    border: 1px solid @gray;
    border-collapse: separate;
}


table.table-round tr:last-child td:last-child {
    -moz-border-radius-bottomright:@border-radius-large;
    -webkit-border-bottom-right-radius:@border-radius-large;
    border-bottom-right-radius:@border-radius-large;
}
table.table-round > tbody > tr > td{
    padding: 7px 3px;
}
.table > thead:first-child > tr:first-child > th.booking-selected-date,
.table > tbody > tr:last-child > td.booking-selected-date{
    background: @selectedBgColor;
}
.table > thead:first-child > tr:first-child > th.booking-selected-date a,
.table > tbody > tr:last-child > td.booking-selected-date a{
    color: white;
}
.table.table-booking > tbody > tr > td,
.table.table-booking > thead > tr > th{
    height: 40px;
    max-height: 40px;
    white-space: nowrap;
    overflow: hidden;
}
.table.table-booking > tbody > tr > td > a{
    display: inline-block;
    width: 100%;
}
.booking-offer-container{
    display: table;
    width: 100%;
    height: 100%;
}
#content, #spinner{
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
#ballWrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  margin-left: -80px;
  margin-top: -50px;
  display: none;
}
.table-responsive-booking{
    background: @white;
    border-radius: @border-radius-large;
}
.booked{
    border-radius: @border-radius-large;
    background-color: #69FF35;
    height: 100%;
    border: 1px solid white;
    position: absolute;
    width: 100%;
    white-space: nowrap;
    padding: 2px;
}
/* bootstrap-select */
.bootstrap-select button{
    background-color: @white;
    min-height: 44px;
    border-color: @gray;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width: auto;
}
/* bootstrap-select end */
table.table-centered tbody tr td, table.table-centered tr:first-child th{
    vertical-align: middle;
    text-align: center;
}
.time-picker{
    white-space: nowrap;
}
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group{
    margin-right:0;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group{
    margin-left:0;
}
.form-left-element{
    border-right: 0;
}
.form-left-element .selectpicker{
    border-bottom-right-radius: 0;
}
.form-right-element{
    border-left: 0;
}
.form-left-element.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
   width: 100%;
}
.form-right-element.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    border-left: 0;
    width: 100%;
}
.form-right-element .selectpicker{
    border-left: 0;
    border-bottom-left-radius: 0;
}
.form-center-element .selectpicker{
    border-radius: 0;
    border-bottom: 0;
}
.relative{
    position: relative;
}
.input-hour{
    float: left; 
    width: 50%;
}
.block{
    display: block;
}
.explanation, .explanation-select{
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 4px;
    text-align: right;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    line-height: 16px;
    z-index: 2;
    color: @gray;
}

.explanation-select{
    right: 20px;
}
.list-group-item.disabled .list-item-text{
    color: @gray;
}
a{
    color: @primaryLinkColor;
}
pre{
    word-wrap: break-word;
}
.panel-body {
  padding: 10px;
  overflow-x: auto;
}
.panel-body img{
    max-width: 100% !important;
}
.panel-body p:last-child{
    margin-bottom: 0;
}
.note-popover .popover-content{
    background: white;
}
progress, progress[value]{
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of default border in Firefox. */
    border: none;

    /* Dimensions */
    width: 50%;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 25%;
    margin-top: -20px;
    display: none;
}
progress::-webkit-progress-bar, progress[value]::-webkit-progress-bar {
    background-color: @primaryColor;
    border-radius: @border-radius-base;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-color: darken(@primaryLinkHoverColor, 20%);

    border-radius: @border-radius-base; 
    background-size: 35px 40px, 100% 100%, 100% 100%;
}
.reservation-row{
    height: 35px;
}
.reservation-cell, .reservation-time{
    display: inline-block;
    text-align: center;
    height: 35px;
}
.radio label, .checkbox label{
    padding-left: 0;
}
h4{
    font-weight: normal;
}
.ui-widget-content{
    background: @white;
}
div.product-chooser.disabled div.product-chooser-item{
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
}

div.product-chooser div.product-chooser-item{
    padding: @spacing;
    background: @white;
    color: @gray;
    border-radius: @border-radius-base;
    cursor: pointer;
    position: relative;
    border: 3px solid @gray;
    margin: 5px 0px;
}

div.product-chooser div.product-chooser-item.selected{
    color: @primaryColor;
    border: 3px solid @selectedBgColor;
    background: @white;
    filter: alpha(opacity=100);
    opacity: 1;
}
div.product-chooser div.product-chooser-item .title{
    font-weight: bold;
}

div.product-chooser div.product-chooser-item input{
    position: absolute;
    left: 0;
    top: 0;
    visibility:hidden;
}
.polaroid{
    display:inline-block;
    padding: 10px;
    .box-shadow(3px 3px 3px #777);
    border: 1px solid #777;
    text-align: center;
    background: @white;
}
.polaroid span{
    margin-top: 10px;
}
#account-profile .ui-widget-content{
    background: #f2f2f2;
}

.table-striped > tbody > tr.sortable-ghost:nth-child(odd) > td,
.table-striped > tbody > tr.sortable-ghost:nth-child(even) > td{
    background-color: #0088cc !important;
}
.sortable-handle{
    width: 1px;
    max-width: 1px;
    cursor: move;
    cursor: -webkit-grabbing;
}

.ui-state-focus { outline: none; }
@media (max-width: @screen-sm) {
    .booking-time{
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}
@media (max-width: @screen-xs) {
    .table-booking{
        font-size: 11px;
    }
}
@media (min-width: @grid-float-breakpoint){
    .navbar-toggle, .list-menu-item-icon{
        display: none;
    }
}

/*http://www.bluthemes.com/blog/3/clearing-bootstrap-3-columns*/
/*  Tablet  */
@media (min-width:@screen-sm){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}

.table-responsive .multiline{
    white-space: normal;
}

/*  Medium Desktop  */
@media (min-width:@screen-md){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@media (min-width:@screen-lg){

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}
textarea {
   resize: none;
}
.bootstrap-select .btn:focus, a:focus{
    outline: 0 !important;
}
.container-flex {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.col-flex {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.col-leyenda-header{
    background: white;
    width: 100%;
    border-top-left-radius: @border-radius-large;
    border-top-right-radius: @border-radius-large;
}
.col-leyenda, {
    text-align: center;
    width: 100px;
    border-top: 1px solid @gray;
}
.col-leyenda, .col-leyenda-header{
    padding: 5px;
    text-align: center;
}
.col-leyenda{
    border-right: 1px solid @gray;
}
/* tournament */
.tournament-container{
    position: relative;
    width: 100%;
    height: 100%; 
    overflow-x: auto;
    margin-top: 20px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.region {
  height: 100%;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 0 20px;
  float: left;
  width: 250px;
  max-width: 250px;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.round .game{
  background: #FFF;
  border-radius: 3px;
  overflow: hidden;
  pointer-events: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.round .game, .round .game a {
  display: flex;
  flex-direction: column;
  max-height: 80px;
}
.round .game .team, .round .game a .team {
  display: flex;
  align-items: center;
  flex: 1 1 40px;
  cursor: pointer;
  border-left: 10px solid @primaryColor;
  transition: .2s;
  /* keep this for smoother transitions: */
  box-shadow: inset 0 40px 0 rgba(255, 255, 255, 0);
}
.round .game .team:first-child{
    border-bottom: 1px solid lightgray;
}

.round .game .team .team-name, .round .game a .team .team-name {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
}
.round .game a .team .team-score {
  font-weight: 600;
  flex: 0 1 42px;
  padding-right: 10px;
  text-align: right;
}
.round .game .team .team-score:empty, .round .game a .team .team-score:empty {
  display: none;
}
.round .game .team.team-hover, .round .game a .team.team-hover {
  background: #CFC59A;
  color: #FFF !important;
  box-shadow: inset 0 40px 0 rgba(255, 255, 255, 0.2);
}

.round .game .team:active, .round .game a .team:active {
  box-shadow: inset 0 40px 0 rgba(255, 255, 255, 0);
}
.round .game .team.team-loser, .round .game a .team.team-loser {
  background: #F7F7F7;
  color: #BBB;
}

.region-right .round {
  float: right;
}
.region-right .round .team {
  border-left: 0;
  border-right: 10px solid #DDD;
  flex-direction: row-reverse;
  text-align: right;
}
/* end tournament*/
.pagination{
    margin: 0;
}
.table > tbody > tr > td.vertical-align-middle{
    vertical-align: middle;
}
th.normal{
    font-weight: normal;
}
.booking-gallery-time{
    position: absolute;
    top: 80px;
    left: 10px;
    width: 40px;
    z-index: 99;
}
.booking-gallery-time div{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.booking-slick{
    background: white; 
    border-radius: @border-radius-large;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-left: 40px;
}
@media (max-width: @screen-sm) {
    .booking-gallery-time{
        width: 12px;
    }
    .booking-gallery-time div{
        line-height: 12px;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .booking-slick{
        padding-left: 12px;
    }
}
.booking-gallery-day{
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: bold;
    border-left: 1px solid @gray;
}
.booking-gallery-offer, .booking-gallery-header{
    display: block; 
    text-align: center;
    white-space:nowrap;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
    line-height: 38px;
}
.booking-gallery-header{
    font-weight: bold;
}
.booking-disabled{
    background: @white-gray;
}
.booking-gallery{
    position: relative;
}
.booking-gallery .slick-next, .booking-gallery .slick-prev{
    top: 20px;
}

.booking-gallery .slick-prev{
    left: 10px;
    z-index: 9999;
}
.booking-gallery .slick-next{
    right: 0px;
}
@media (max-width: @screen-sm) {
    .booking-slick, .booking-gallery-time{
        font-size: 12px;
    }
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn).stretch{
    width: 100%;
}
.game-schedule{
    display: flex;
    align-items: center;
}
.game-schedule:not(:first-child){
    padding-top: 5px;
}
.game-schedule-title, .game-schedule-date{
    flex: 1;
}
.game-schedule-hour, .game-schedule-minute{
    flex: 0;
    min-width: 60px;
}
.game-schedule-hour, .game-schedule-minute, .game-schedule-date{
    text-align: center;
}
.col-xs-4.booking-cell{
  text-align: right;
}
.bootstrap-select.btn-group .dropdown-menu{
    max-width: 100%;
}
.customerLogo{
    height: 40px;
    margin-right: 10px;
}
.bootstrap-select.form-center-element .btn{
    border-radius: 0;
    border-bottom: 0;
}