.dd-handle:before{
    font-size: 24px;
    cursor: move;
}
.dd3-content { 
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #d4d4d4 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #d4d4d4 100%);
    background:         linear-gradient(top, #fafafa 0%, #d4d4d4 100%);
    box-sizing: border-box; -moz-box-sizing: border-box;
    overflow: hidden;
}