.slick-prev, .slick-next{
    z-index: 999;
    width: 30px;
    height: 30px;
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}
.slick-prev:before, .slick-next:before { 
    font-family: 'FontAwesome'; 
    font-size: 30px; 
    line-height: 1;
    color: #fff;
    opacity: 0.75; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before {
    content: "\f053"; 
}

[dir="rtl"] .slick-prev:before { 
    content: "\f054"; 
}

[dir="rtl"] .slick-next { 
    left: -10px; 
    top: 70px; 
    right: auto; 
}
.slick-next:before { 
    content: "\f054"; 
}
[dir="rtl"] .slick-next:before {
    content: "\f053"; 
}
.slick-slide:focus { 
    outline: none !important;
}