Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    mod24_ssl : []

container_commands:
  10_initpublickey:
    command: "echo -----BEGIN CERTIFICATE----- >/etc/pki/tls/certs/server.crt"
  15_writepublickey:
    command: 'echo ${SSL_PUBLIC_KEY} | tr " " "\n" >>/etc/pki/tls/certs/server.crt'
  20_finishpublickey:
    command: "echo -----END CERTIFICATE----- >>/etc/pki/tls/certs/server.crt"
  25_modepublickey:
    command: "chmod 000400 /etc/pki/tls/certs/server.crt"
  50_initprivatekey:
    command: "echo -----BEGIN RSA PRIVATE KEY----- >/etc/pki/tls/certs/server.key"
  55_writeprivatekey:
    command: 'echo ${SSL_PRIVATE_KEY} | tr " " "\n" >>/etc/pki/tls/certs/server.key'
  60_finishprivatekey:
    command: "echo -----END RSA PRIVATE KEY----- >>/etc/pki/tls/certs/server.key"
  70_modeprivatekey:
    command: "chmod 000400 /etc/pki/tls/certs/server.key"
  90_restarthttpd:
    command: "sudo service httpd restart || sudo service httpd start"