Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    mod_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf.pre:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    /etc/letsencrypt/live/ebcert/cert.pem
        SSLCertificateKeyFile /etc/letsencrypt/live/ebcert/privkey.pem
        SSLCertificateChainFile /etc/letsencrypt/live/ebcert/chain.pem
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off

        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff

        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        #RequestHeader set X-Forwarded-Proto "https" early

      </VirtualHost>
  /tmp/certificate_renew:
      mode: "000644"
      owner: root
      group: root
      content: |
        47 2 * * * root /opt/certbot/certbot-auto renew --standalone --pre-hook "sudo service httpd stop" --post-hook "sudo service httpd restart || sudo service httpd start" --force-renew >> /var/log/certificate_renew.log 2>&1

container_commands:
  10_stop_httpd:
    command: "sudo service httpd stop"
  15_symlink_virtualenv:
    command: "sudo ln -s /usr/local/bin/virtualenv /usr/bin/virtualenv"
  20_install_certbot:
    command: "mkdir -p /opt/certbot && wget https://dl.eff.org/certbot-auto -O /opt/certbot/certbot-auto && chmod a+x /opt/certbot/certbot-auto"
  30_get_cert:
    command: "sudo /opt/certbot/certbot-auto certonly --non-interactive --email ${LETSENCRYPT_EMAIL} --agree-tos --standalone --domains ${LETSENCRYPT_DOMAIN} --keep-until-expiring --debug"
  40_link:
    command: "sudo ln -sf /etc/letsencrypt/live/${LETSENCRYPT_DOMAIN} /etc/letsencrypt/live/ebcert"
  50_move_ssl_conf:
    command: "mv /etc/httpd/conf.d/ssl.conf.pre /etc/httpd/conf.d/ssl.conf"
  60_start_httpd:
    command: "sudo service httpd restart || sudo service httpd start"
  70_install_cronjob:
    command: "mv /tmp/certificate_renew /etc/cron.d/certificate_renew"