packages:
  yum:
    mysql : []

files:
  "/etc/cron.d/backupdb":
    mode: "000644"
    owner: root
    group: root
    content: |
      48 7 * * * ec2-user /home/ec2-user/backupdb.sh

  "/home/ec2-user/backupdb.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      HOUR=$(TZ="Europe/Berlin" date +"%H")
      if [ $HOUR == 23 ]
      then
      TODAY=$(date +"%Y_%m_%d");
      DIR=/home/ec2-user
      ENVS=`ps -ef |grep -v grep | grep RDS`
      PORT=`echo $ENVS | tr " " "\n" | grep -o -P ".*RDS_PORT=\K(.*)"`
      HOST=`echo $ENVS | tr " " "\n" | grep -o -P ".*RDS_HOSTNAME=\K(.*)"`
      NAME=`echo $ENVS | tr " " "\n" | grep -o -P ".*RDS_DB_NAME=\K(.*)"`
      USER=`echo $ENVS | tr " " "\n" | grep -o -P ".*RDS_USERNAME=\K(.*)"`
      PASS=`echo $ENVS | tr " " "\n" | grep -o -P ".*RDS_PASSWORD=\K(.*)"`
      mysqldump -h $HOST -P $PORT -u $USER --password=$PASS $NAME > ${DIR}/backup.sql
      gzip -f ${DIR}/backup.sql
      ${DIR}/dropbox_uploader.sh -f ${DIR}/dropbox_uploader.config mkdir ${TODAY}
      ${DIR}/dropbox_uploader.sh -f ${DIR}/dropbox_uploader.config upload ${OPENSHIFT_TMP_DIR}/backup.sql.gz ${TODAY}/${OPENSHIFT_APP_NAME}_mysql_${TODAY}.sql.gz
      rm ${OPENSHIFT_TMP_DIR}/backup.sql.gz
      #delete old backups
      THREEMONTHSAGO=$(date --date "90 days ago" +"%Y_%m_%d")
      ${DIR}/dropbox_uploader.sh -f ${DIR}/dropbox_uploader.config delete ${THREEMONTHSAGO}
      fi

commands:
  install_dropbox_uploader_config:
    command: "echo OAUTH_ACCESS_TOKEN=${DROPBOX_UPLOADER_TOKEN}>/home/ec2-user/dropbox_uploader.config"
  install_dropbox_uploader:
    command: 'curl "https://raw.githubusercontent.com/andreafabrizi/Dropbox-Uploader/master/dropbox_uploader.sh" -o /home/ec2-user/dropbox_uploader.sh && chmod +x /home/ec2-user/dropbox_uploader.sh'
  remove_old_cron:
    command: "rm -f /etc/cron.d/*.bak"