<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd">

    <!-- ENABLE SPRING ANNOTATIONS IN THE WHOLE PACKAGE -->
    <context:annotation-config />
   
    <context:component-scan base-package="de.appsolve" use-default-filters="true">
        <!-- no need to have controller mappings in the application context as they are only needed in the dispatcher servlet -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
   
    <!-- VIEW RESOLVER -->
    <bean id="jspViewResolver"
         class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    
    <!-- read ${VARIABLES} from settings.properties, fallback to host environment varaibles (needed for ${OPENSHIFT_...} variables-->
    <context:property-placeholder location="classpath:settings.properties" />
    
    <!-- INTERNATIONALIZATION -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!-- 0 == on every request in development; -1 == never for "openshift" maven profile -->
        <property name="cacheSeconds" value="${messagesReloadInterval}"/> 
        <property name="basenames">
            <list>
                <value>/WEB-INF/Messages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8" />
    </bean>
   
    <bean id="myEmf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="de.appsolve.padelcampus.db.model" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            </props>
    </property>
    </bean>
   
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://${OPENSHIFT_MYSQL_DB_HOST}:${OPENSHIFT_MYSQL_DB_PORT}/${OPENSHIFT_APP_NAME}" />
        <property name="username" value="${OPENSHIFT_MYSQL_DB_USERNAME}" />
        <property name="password" value="${OPENSHIFT_MYSQL_DB_PASSWORD}" />
    </bean>
 
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="myEmf" />
    </bean>
    <tx:annotation-driven />
 
    <bean id="persistenceExceptionTranslationPostProcessor"
         class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
    
    <!-- Response caching -->
    <bean id="responseCachingFilter" class="de.appsolve.padelcampus.filter.ResponseCachingFilter">
        <property name="cacheSeconds" value="0" />
        <property name="useExpiresHeader" value="true" />
        <property name="useCacheControlHeader" value="true" />
        <property name="useCacheControlNoStore" value="true" />
        <property name="cacheMappings">
            <props>
                <!-- cache for one day in production, 0 in development -->
                <prop key="/**/*.js">${httpResponseCacheDuration}</prop>
                <prop key="/**/*.css">${httpResponseCacheDuration}</prop>
                <prop key="/**/*.png">${httpResponseCacheDuration}</prop>
                <prop key="/**/*.jpg">${httpResponseCacheDuration}</prop>
                <prop key="/**/*.gif">${httpResponseCacheDuration}</prop>
                <prop key="/**/*.eot">${httpResponseCacheDuration}</prop>
                <prop key="/**/*.svg">${httpResponseCacheDuration}</prop>
                <prop key="/**/*.ttf">${httpResponseCacheDuration}</prop>
                <prop key="/**/*.woff">${httpResponseCacheDuration}</prop>
            </props>
        </property>
    </bean>
    
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.FixedLocaleResolver">
        <property name="defaultLocale" value="de_DE" />
    </bean>
    
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>
    
    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- max upload size in bytes -->
        <property name="maxUploadSize" value="20971520" /> <!-- 20MB -->
         
        <!-- max size of file in memory (in bytes) -->
        <property name="maxInMemorySize" value="1048576" /> <!-- 1MB -->
    </bean>
   
    <task:annotation-driven />
</beans>