<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
 
    <!-- ENABLE SPRING ANNOTATIONS IN THE WHOLE PACKAGE -->
    <context:annotation-config />
   
    <context:component-scan base-package="de.appsolve" use-default-filters="false">
        <!--include all the controllers--> 
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
    <!-- read ${VARIABLES} from settings.properties, fallback to host environment varaibles (needed for ${OPENSHIFT_...} variables-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:settings.properties"/>
        <property name="searchSystemEnvironment" value="true" />
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_FALLBACK" />
    </bean>
    
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>
    
    <!-- INTERNATIONALIZATION -->
    <!-- reloadable Messages.properties -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!-- 0 == on every request in development; -1 == never for "openshift" maven profile -->
        <property name="cacheSeconds" value="${messagesReloadInterval}"/> 
        <property name="basenames">
            <list>
                <value>classpath:Messages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8" />
    </bean>
    
    <!-- By default, the ValidationMessages.properties has to be saved in CP1252, but we want it to be UTF-8 -->
    <bean id="validationMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!-- 0 == on every request in development; -1 == never for "openshift" maven profile -->
        <property name="cacheSeconds" value="${messagesReloadInterval}"/> 
        <property name="basenames">
            <list>
                <value>/WEB-INF/ValidationMessages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <!-- processes annotations, such as @NotEmpty validation etc. -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="validationMessageSource" ref="validationMessageSource"/>
    </bean>
    
    <mvc:annotation-driven validator="validator"/>
    
        
    <!-- overwrite default AcceptHeaderLocaleResolver -->
<!--    <bean id="localeResolver"
        class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="lang" />
        <property name="defaultLocale" value="de_DE" />
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean id="localeChangeInterceptor"
                class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
                <property name="paramName" value="lang" />
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>-->
    
</beans>